<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD2lRvsTkndmzdyV1Ax7ZW3o3e-mSJAHD4</string>
	<key>GCM_SENDER_ID</key>
	<string>1097819913150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lakith-pusarla.TikTokTutorial</string>
	<key>PROJECT_ID</key>
	<string>tiktoktutorial-83846</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktoktutorial-83846.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097819913150:ios:98cf51a81f0732981f57ef</string>
</dict>
</plist>